# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives:**
- List popular Data Science languages
- List some commonly used libraries in Data Science
- List some Data Science tools in a table
- Show some arithmetic examples
- Become the best at Jupyter Notebook

Some of the popular languages used by Data Scientists are:
1. Python
2. R
3. Scala

Some of the commonly used libraries are:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|:-------------------|
| RStudio            |
| Tensorflow         |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This is a simple arithmetic expression to multiply then add integers.
sum = (3*4)+5
sum

17

In [12]:
# This will convert 200 minutes to hours by dividing by 60.
min_to_hours = 200/60
min_to_hours

3.3333333333333335

## Author
Kieran